@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
* {font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}

.wrapper{width: 100vw;
         height: 100vh;}

     
    header {margin-left: 42px;
            margin-top: 80px;
            display: inline-block;}
            

    .link-header{
        margin-right: 32px;
        font-weight: 400px;
        font-size: 14px;
        line-height: 21px;
        color:#17233D;
        cursor: pointer}

    .button-header{ 
        width: 124px;
        height: 51px;
        border-radius: 6px;
        border: 1px;
        border: 1px solid #4CB538;
        cursor: pointer;
        background: #6FBF44;
        color: #ffffff;}    
    
    
    
    main{display: flex; /* Coloca os elementos lado a lado */
         align-items: center; /* Alinha verticalmente a imagem e o texto */
         gap: 85px;
         position: absolute;
         top: 200px;
         left: 169px;}
    
    
        img {width: 500px; 
         height: auto;
         
         top: 212px;
         left: 168px;
        }

 


    .container-right {margin-top: 150px;}

     h1{ width: 582px;
        height: 164px;
        font-size: 62px;
        font-weight: 700;
        line-height: 82px;
        text-align: left;
        color: #161A49}  
    
    p{  width: 493px;
        height: 99px;
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
        color:#4B505A;
        margin-top: 25px;}

    .Learn-more{
        width: 112px;
        height: 27px;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        color: #6FBF44;
        cursor: pointer;}

        @media screen and (max-width: 1250px)

        {main {
              flex-direction: column; /* Para Flexbox */
              grid-template-columns: 1fr; /* Para Grid */
              text-align: center; /* Centraliza o texto */
              padding: 0;
              margin: 0;}

            .container-right
    
            {position: fixed;
            left: 5px;
            top: 85px;
            max-width: 100%;
            height: auto;
            padding: 0;
            margin: 0;}
        
            .button-header{
                position: absolute; /* Posicionamento absoluto */
                top: 0; /* Encosta no topo */
                right: 0; /* Encosta na direita */
                padding: 0px;
                top: 10px;
                right: 10px;}

            header {display: none;}
        
        img{position: fixed;
            top: 497px; /* Distância do topo */
            left: 93px; /* Distância da esquerda */
            width: 200px; /* Largura fixa */
            height: auto; /* Mantém a proporção */
            order: 2;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0;
            padding: 0;
            align-items: center;
            
            
            
        }

        h1 {width: 278px;
            height: 60px;
            width: 278px;
            font-size: 30px;
            font-weight: 700;
            line-height: 30px;
            text-align: center;
            position: relative;
            top:90px;
            right: 55px;
            bottom: 29px;
            left: 57px;}
        
        p { width: 304px;
            height: 165px;
            font-size: 18px;
            font-weight: 400;
            line-height: 33px;
            text-align: center;
            position: relative;
            left: 61px;
            top: 94px;}
        
        .Learn-more {
            width: 112px;
            height: 27px;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            line-height: 27px;
            white-space: nowrap;
            position: relative;
            left: 150px;
            top: 94px;
            display: flex;
            margin-bottom: 0;
        }    
        
        header {display: none;}}
        
        
        

        @media screen and (max-width: 360px)
        {.container-right
    
            {width: 100vw;
            height: auto;
            padding: 0;
            margin: 0;}
        
            h1{width: 278px;
            height: 60px;
            width: 278px;
            font-size: 30px;
            font-weight: 700;
            line-height: 30px;
            text-align: center;
            position: relative;
            top:90px;
            right: 55px;
            bottom: 29px;
            left: 50px;}
           
            p { width: 304px;
                height: 165px;
                font-size: 18px;
                font-weight: 400;
                line-height: 33px;
                text-align: center;
                position: relative;
                left: 40px;
                top: 94px;}  
            
            .Learn-more {
                width: 112px;
                height: 27px;
                text-align: center;
                font-size: 20px;
                font-weight: 500;
                line-height: 27px;
                white-space: nowrap;
                position: relative;
                left: 135px;
                top: 94px;
                display: flex;
                margin-bottom: 0;
                }  

                
            }  
            
  
    

   
    
    
    
    
    
    
    
    
    
        






     
        
    

    

   



   

   